{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试管理平台</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 24px;color: white">测试管理平台</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a style="font-size: 18px;margin-left: 20px" href="/index/home/">首页 <span class="sr-only">(current)</span></a></li>
        <li><a style="font-size: 18px;margin-left: 20px" href="/index/task/">项目管理</a></li>
        <li><a style="font-size: 18px;margin-left: 20px" href="/index/apitest/">接口测试</a></li>
        <li><a style="font-size: 18px;margin-left: 20px" href="/index/apk/">打包平台</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a style="font-size: 18px" href="#">用户设置</a></li>
        <li><a style="font-size: 18px;margin-right: 20px" href="#">退出</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <div class="container-fluid" style="margin-top: 120px">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>